PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE pending_trades (
            id TEXT PRIMARY KEY,
            symbol TEXT NOT NULL,
            setup_type TEXT NOT NULL,
            technical_score REAL NOT NULL,
            confidence REAL NOT NULL,
            rationale TEXT NOT NULL,
            entry_zone TEXT NOT NULL,
            stop_loss REAL NOT NULL,
            target REAL NOT NULL,
            rr_ratio REAL NOT NULL,
            expected_hold_days TEXT NOT NULL,
            key_risks TEXT NOT NULL,
            fundamental_flag TEXT NOT NULL,
            market_context TEXT NOT NULL,
            status TEXT NOT NULL,
            generated_at TEXT NOT NULL,
            expires_at TEXT NOT NULL,
            trade_params TEXT NOT NULL
        , karnos_direction TEXT, karnos_trend TEXT, karnos_explanation TEXT);
COMMIT;
